<div class="container" *ngIf="formLogin" [formGroup]="formLogin">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="formLogin?.get('email')?.errors?.required && !formLogin?.get('email')?.errors?.email">El email es requerido</mat-error>
    <mat-error *ngIf="!formLogin?.get('email')?.errors?.required && formLogin?.get('email')?.errors?.email">Ingresa un email válido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput formControlName="password" />
    <mat-error *ngIf="formLogin?.get('password')?.errors?.required && !formLogin?.get('password')?.errors?.minlength">La contraseña es requerida</mat-error>
    <mat-error *ngIf="!formLogin?.get('password')?.errors?.required && formLogin?.get('password')?.errors?.minlength">Ingresa más de 3 caracteres</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="formLogin?.invalid || loading" (click)="loginClick()">Ingresar</button>
</div>
