<mat-toolbar class="toolbar" color="primary">
  <span>Angular Mid</span>
  <button mat-icon-button [matMenuTriggerFor]="menuLang">
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #menuLang>
    <button mat-menu-item (click)="changeLanguage('es')">
      <span>{{ "language.es" | translate }}</span>
    </button>
    <button mat-menu-item (click)="changeLanguage('en')">
      <span>{{ "language.en" | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-progress-bar
  mode="indeterminate"
  color="accent"
  *ngIf="loading"
></mat-progress-bar>
<router-outlet></router-outlet>
